<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, 
	maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/flexslider.css" rel="stylesheet">
	
	<script src="/js/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>

 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
	 <!------ Light Box ------>
    <link rel="stylesheet" href="/css/swipebox.css">
    <script src="/js/jquery.swipebox.min.js"></script> 
    <script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
	</script>
	<script>
		function submitEmailForm(form) {
			var obj = new XMLHttpRequest();
			obj.onreadystatechange = function(){
				if(obj.readyState == 4){
					if(obj.status == 200){
						var res = JSON.parse(obj.responseText);
						alert(res.message);
					}
					else{
						alert("XMLHttp status " + obj.status + ": " + obj.statusText);
					}
				}
			};
			obj.open("post", form.action, true);
			obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
			obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, phone:form.phone.value, message: form.message.value }));
			return false;
		}
	</script>
</head>
<body>
	<div class="contact">
			
				
	<form action="https://formspree.io/mlepggjn" method="POST" class="contact-form" name="form" onsubmit="return submitEmailForm(this);" >
	<div class="col-md-4 contactgrid">
	<input type="text" class="text" placeholder="Name" name="name"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' name';}">
	</div>
	<div class="col-md-4 contactgrid">
	<input type="text" class="text" name="email" placeholder="e-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'email';}">
	</div>
	<div class="col-md-4 contactgrid">
	<input type="text" class="text" name="phone" placeholder="phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'phone';}">
	</div>
	<div class="col-md-8 contactgrid1">
	<textarea name="msg"  onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Your Message</textarea>
	</div>
	<div class="col-md-4 contactgrid2">
	<input type="submit"  name="submit" style="background-color: #f0c514; border-color: black;" value="SUBMIT">
   </div>
   <div class="social-icon">
	<a href="https://www.linkedin.com/company/v-purify/"><i style="color:#eee" class="fab fa-linkedin fa-3x"></i></a>
	<a href="https://www.facebook.com/VPurify-106279064426302/"><i style="color:#eee" class="fab fa-facebook fa-3x"></i></a>
	<a href="https://instagram.com/v_purify?igshid=1lw9xaou8wdsb"><i style="color:#eee" class="fab fa-instagram fa-3x"></i></a>
	<a href="https://twitter.com/PurifyV"><i style="color:#eee" class="fab fa-twitter fa-3x"></i></a>
</div>
</form>
   <div class="clearfix"></div>
	</div>
	<div class="footer-bottom">
	

		<p> Copyright &copy; Vpurify.in </p>

		</div>
</body>
</html>



