<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, 
    maximum-scale=1.0, user-scalable=no">
    <link href="/css/style.css" rel="stylesheet">
    <title>Document</title>
   
</head>
<body>
    <br>
    <br>
    <div class="bTitle">
    <h1 class="bbt" ><%= title %></h1>
    </div>
    <div class="bContent">
    <p class="bbc"><%= content %></p>
    </div>
</body>
</html>

