<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Document</title>
    <style>
        body{
            overflow-x: auto;
        }
    </style>
   
</head>
<body>
    <br>
    <br>
    <div class="bTitle">
    <h1 class="bbt" ><%= title %></h1>
    </div>
    <div class="bContent">
    <pre><p class="bbc"><%= content %></p></pre>
    </div>
</body>
</html>

