<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, 
maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
  <%- include("partials/header") %>
  <title>Write blogs</title>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
  
</head>
<body>
  <br>
<div class="content">
	<div class="services-section" id="services">
		<div class="container"> 
		<div class="services-header">
			<h3><span>[</span> Compose <span>]</span></h3>
			<br>
			
				
		</div>
<form class="" action="/write" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label style="font-size:xx-large;" ><strong>Title</strong></label>
      <input class="form-control" type="text" name="blogTitle">
      <label style="font-size:xx-large;" for="img"><strong>Image</strong></label>
      <input type="file" id="img" name="img" accept="image/*">
      <label style="font-size:xx-large;"><strong>Content</strong></label>
    
      <textarea class="form-control" name="blogBody" rows="5" cols="30"></textarea>
    
    
    </div>
    <button style="font-size:xx-large;" class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
</body>
</html>

